<h1>New Duck</h1>

<% if flash[:my_error] %>
    <% my_error.each do |error| %>
    <%= error %>
    <% end %>    
<% end %>

<%= form_for @duck do |f| %>
<%= f.label :name, "Name" %>
<%= f.text_field :name %>

<%= f.label :description, "Description" %>
<%= f.text_field :description %>

<%= f.label :student_id, "Student ID" %>
<%= f.collection_select :student_id, Student.all, :id, :name %>

<%= submit_tag "Create Duck" %>
<% end %>